* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.offscreen {
  position: absolute;
  top: -9999px;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.haeder {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  gap: 277px;
  align-items: center;
  padding: 0 80px;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.haeder button {
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.back {
  background-image: url("./img/arrow_left.png");
  background-size: cover;
}

.front {
  background-image: url("./img/arrow_right.png");
  background-size: cover;
}

.time {
  background-image: url("./img/time.png");
  background-size: cover;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right .rating {
  width: 111px;
  height: 48px;
  border: 1px solid #713574;
  border-radius: 8px;
  text-indent: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
}

.help {
  background-image: url("./img/help.png");
  background-size: cover;
}

.search {
  width: 920px;
  height: 48px;
  background-color: #955c98;
  border-radius: 8px;
  border: none;
  padding: 8px 48px;
  background-image: url("./img/search.png");
  background-position: left 16px center;
  background-repeat: no-repeat;
}

.search::placeholder {
  color: #fff;
  font-size: 20px;
}

.parent {
  background-color: #491449;
  width: 1920px;
  height: 1208px;
}

.innerBox {
  display: flex;
}

.sidebar {
  width: 80px;
  background-color: #491449;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px 0;
  text-align: center;
}

.sidebar ul li {
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
}

.top > img {
  margin-bottom: 24px;
}

.top span {
  margin-top: 5px;
  display: block;
}

.content {
  width: 1760px;
  height: 1048px;
  display: flex;
}

.content .sidemenu {
  width: 400px;
  background-color: #713574;
  padding: 20px;
  color: #fff;
  overflow: hidden;
  border-radius: 8px 0 0 8px;
}

.sidetop {
  border-bottom: 1px solid #955c98;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.content .sideheader {
  display: flex;
  justify-content: space-between;
}

.content .sideheader ul {
  display: flex;
  gap: 8px;
}

.content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  color: #491449;
  margin-top: 24px;
}

.sidebottom ul li .listheader {
  width: 360px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sidebottom ul li span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-weight: 600;
}

.sidebottom ul li .status {
  width: 66px;
  height: 32px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebottom ul li .listcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.listcontent p {
  color: #c9aac9;
  line-height: 20px;
  font-size: 14px;
}

.listcontent button {
  width: 126px;
  height: 40px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #491449;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listcontent ul li {
  width: 360px;
  height: 32px;
  padding: 4px 16px;
  text-align: left;
  color: #d4d3d3;
  margin-bottom: 8px;
}
.main {
  padding: 40px 60px;
}
.main h1 {
  color: #491449;
  text-align: center;
  margin-bottom: 40px;
  width: 560px;
}

.main > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 56px;
}

.main > div label {
  font-size: 20px;
}

.main .box {
  width: 320px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 10px 12px;
  font-size: 18px;
}

.main .box::placeholder {
  color: #ababab;
}

.main .textbox {
  align-items: flex-start;
}

.main .textbox label {
  margin-top: 10px;
}

.textbox textarea {
  width: 320px;
  height: 116px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 10px 12px;
  font-size: 18px;
}

.textbox textarea::placeholder {
  color: #ababab;
}

.content .mainimg {
  width: 680px;
  border: none;
  background-image: url("./img/mainimg.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 40px #d389ff;
}

.contentright {
  width: 1360px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.main {
  background-color: #d5bce4;
}

.main .약관동의 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 0;
  font-size: 20px;
}

.content .joinbtn {
  width: 448px;
  height: 48px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #491449;
  color: #fff;
}

.content .joinbtn.off {
  background-color: #c7c7c7;
}

.체크및가입박스 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .main .buttonbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main .numberbox {
  display: flex;
  gap: 10px;
  padding: 0;
  margin-bottom: 12px;
  align-items: center;
}
.main .numberbox input {
  width: 64px;
  height: 44px;
  color: #955c98;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 18px;
}

.main .numberbox .send {
  background-color: #491449;
  color: #fff;
}

.main .numberbox .send.off {
  background-color: #c7c7c7;
  color: #fff;
}

.content .main .buttonbox button {
  width: 136px;
  height: 40px;
  border: none;
  border-radius: 8px;
  margin: 0;
}

.content .main .buttonbox button.on {
  background-color: #491449;
  color: #fff;
}

.content .main .buttonbox button.whitebtn {
  background-color: #fff;
  color: #491449;
  border: 1px solid #491449;
}

.성별박스 input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #919191;
  box-shadow: 0 0 0 1px #919191;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

.성별박스 input[type="radio"]:checked {
  background-color: #491449;
  border: 4px solid #d5bce4;
  box-shadow: 0 0 0 2px #491449;
}

.성별박스 .성별선택박스 {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  gap: 40px;
}

.성별박스 .성별선택박스 div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.약관동의 {
  position: relative;
  display: flex;
  line-height: 24px;
  gap: 10px;
}

.약관동의 input::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 3px solid #919191;
  background-color: #d5bce4;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px;
}

.약관동의 input:checked::after {
  content: "✓";
  text-align: center;
  line-height: 22px;
  font-size: 24px;
  width: 18px;
  height: 18px;
  border: 3px solid #491449;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1px;
}

.약관동의 label {
  margin-left: 16px;
}

.sidebottom ul li .listcontent.student {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
  padding-bottom: 15px;
}

.listcontent.student ul li {
  margin-bottom: 25px;
}

.sidebottom ul li .listcontent.student img {
  border-radius: 50%;
}

#타이머 {
  color: red;
}

#userEmail {
  width: 125px;
}

#emailOption {
  font-size: 18px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #c7c7c7;
  padding: 10px 0px;
}

.checkInner {
  display: flex;
  flex-direction: column;
}

.checkInner .checkText {
  color: red;
  font-size: 13px;
}

.checkInner .checkText.success {
  color: blue;
}

.listcontent ul {
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
}
